{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>增强记忆小助手</title>
    <link rel="stylesheet" href="{% static 'django_BiJi/css/bootstrap.min.css' %}">
    <style>
        .intro-text {
            margin-right: 50%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">增强记忆小助手</a>
        </div>
    </nav>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 intro-text">
                <h1>增强记忆小助手</h1>
                <p class="lead">这是一款帮助学生更好学习的应用，它将利用遗忘曲线来帮助用户记忆内容。遗忘曲线是一种科学方法，它根据人类大脑对信息的记忆和遗忘规律，通过合理安排复习时间来帮助用户更好地记忆某些内容。您可以在应用中加入遗忘曲线算法，根据用户的学习情况和进度，为他们提供个性化的复习计划。这样，用户就可以在最佳时间进行复习，从而更好地记忆所学内容。</p>
                <a href="./main" class="btn btn-primary btn-lg mt-4">立即开始</a>
            </div>
        </div>
    </div>
    <hr/>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 intro-text">
                <h5>申明</h5>
                <p class="lead">此网页django_Biji(增强记忆小助手)(软件)由龚思维，许文恺开发，此版本为提交分发版，仅可用于参加云南省第十八届宋庆龄少年儿童发明奖的评选，禁止其它用途！</p>
                <br>
                <p class="lead">django_Biji(增强记忆小助手)包含来自Python标准库的代码，该标准库是根据Python标准库授权的Python许可证。
                    <a href="{% static 'LICENSE.python.html' %}">Python许可证</a>
                </p>
                <br>
                <p class="lead">django_Biji(增强记忆小助手)包含来、使用自Django的框架和代码，该框架是根据Django授权的Django许可证。
                    <a href="{% static 'LICENSE.django.html' %}">Django许可证</a>
                </p>
                <br>
                <p class="lead">django_Biji(增强记忆小助手)包含来、使用自Bootstrap的框架和代码，该框架是根据Bootstrap授权的Bootstrap MIT许可证。
                    <a href="{% static 'LICENSE.bootstrap.html' %}">Bootstrap许可证</a>
                </p>
                <br>
                <p class="lead">django_Biji(增强记忆小助手)包含来、使用自Tinymce的框架，该框架是根据Tinymce授权的Tinymce MIT许可证。
                    <a href="{% static 'LICENSE.tinymce.html' %}">Tinymce许可证</a>
                </p>
            </div>
        </div>
    </div>

    <script src="{% static 'django_BiJi/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
