{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>增强记忆小助手</title>
    <link rel="stylesheet" href="{% static 'django_BiJi/css/bootstrap.min.css' %}">
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;
        }

        .card {
            margin-right: 1rem;
            margin-bottom: 1rem;
            flex: 0 0 calc(33.3333% - 1rem);
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-secondary fixed-top" style="height: 100vh;">
                <h2 class="text-light p-3">增强记忆小助手</h2>
                <ul class="list-group">
                    <li class="list-group-item"><button type="button" id="rename" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#About">
                        关于
                    </button></li>
                </ul>
            </div>
            <div class="col-md-9 offset-md-3 mt-3">
                <h2>笔记</h2>
                <div class="card-container">
                    {% autoescape off %}
                    {% for data in datas %}
                        <a href="{{ data.url }}" class="text-decoration-none">
                            <div class="card bg-light rounded">
                                <div class="card-body">
                                    <h5 class="card-title">{{ data.name }}</h5>
                                    <p class="card-text">{{ data.summary }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% endautoescape %}
                    <a href="./add" class="text-decoration-none">
                        <div class="card bg-light rounded">
                            <div class="card-body">
                                <h5 class="card-title">ADD +</h5>
                                <p class="card-text">增加新的笔记！</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal" id="About">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">关于此网页</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- 模态框内容 -->
          <div class="modal-body">
              此网页（软件）由龚思维，许文恺开发，此版本为提交分发版，仅可用于参加云南省第十八届宋庆龄少年儿童发明奖的评选，禁止其它用途！
          </div>

          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
          </div>

        </div>
      </div>
    </div>

    <script src="{% static 'django_BiJi/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
